        <section class="container product-promotion-container">       
            <h2>Today's deal</h2>  
            <div class="item-wrapper product-promotion-item-wrapper">       
            {{#each promotionForm}}
                <div class="product-promotion-item">
                    <p class="product-promotion-title">
                        {{this.type}}
                    </p>

                    <div class="promotion-image-container">
                        <img class="image-format" src="{{this.image_url}}" />
                    </div>  
                    <span>Listing price: <span class="product-original-price text-strikethrough">{{this.orignal_price}}</span> </span>
                    <p>Promotional Price: <span class="product-promotional-price">{{this.price}}</span></p>                                        
                </div>
            {{/each}}  
            </div>               
        </section>
        <section class="container product-category-container">    
            <h2>Category Banner</h2>   
            <div class="product-category-item-wrapper">         
                {{#each productCategory}}
                    <div class="product-category-item">
                        <p class="product-category-title">
                            <a href="">{{this.type}}</a>
                        </p>
                        <div class="category-image-container">
                            <img class="category-image" src="{{this.image_url}}" />
                        </div>          
                    </div>
                {{/each}}     
            </div>           
        </section>

        <section class="container best-seller">   
            <h2>Best Seller</h2> 
            <div class=" item-wrapper best-seller-item-wrapper">        
             {{#each bestSeller}}                
                  <div class="best-seller-item">
                    <p class="best-seller-title">
                            {{this.name}}
                    </p>
                    <div class="seller-image-container">
                    <img class="image-format" src="{{this.image_url}}" />
                    </div>
                  </div>
             {{/each}}    
            </div>
        </section>
