        <section class="container product-promotion-container">       
            <h2>Today's deal</h2>  
            <div class="item-wrapper product-promotion-item-wrapper">       
            {{#each promotionForm}}
                <div class="product-promotion-item">
                    <p class="product-promotion-title">
                        {{this.name}}
                    </p>

                    <div class="promotion-image-container">
                        {{#if this.product_url}}
                            <a href="{{this.product_url}}">
                            <img class="image-format" src="{{this.image_url}}" />
                            </a>
                        {{else}}
                            <img class="image-format" src="{{this.image_url}}" />
                        {{/if}}
                    </div>  
                    <span>Listing price: <span class="product-original-price text-strikethrough">${{this.price}}</span> </span>
                    <p>Promotional Price: <span class="product-promotional-price">${{this.promotional_price}}</span></p>                                        
                </div>
            {{/each}}  
            </div>               
        </section>
    

        {{!-- <section class="container best-seller">    --}}
            <h2>Best Seller</h2> 
            <div class=" item-wrapper best-seller-item-wrapper">        
             {{#each bestSeller}}                
                  <div class="best-seller-item">
                    <p class="best-seller-title">
                            {{this.name}}
                    </p>
                    <div class="seller-image-container">
                        {{#if this.product_url}}
                        <a href="{{this.product_url}}">
                         <img class="image-format" src="{{this.image_url}}" />
                        </a>
                        {{else}}
                        <img class="image-format" src="{{this.image_url}}" />
                        {{/if}}
                    </div>
                  </div>
             {{/each}}    
            </div>
        </section>
