<div class="container products" >
    <h2 class="title">Product List</h2> 
        <div class="fixed-grid">
            <div class="fixed-inner">  
                <div class="category-select">
                    <select>
                        <option><a href="">Accessory</a></option>
                        <option><a href="">Gifts</a></option>
                        <option><a href="">Home Office</a></option>
                        <option><a href="">Snack</a></option>
                    </select>
                </div>
                <div class="category-bar">
                    <ul class="category-nav">
                        <li class="category-nav-item"><a href="">Accessory</a></li>
                        <li class="category-nav-item"><a href="">Gifts</a></li>
                        <li class="category-nav-item"><a href="">Home Office</a></li>
                        <li class="category-nav-item"><a href="">Snack</a></li>                    
                    </ul>
                </div>              
                <div class="products-container">                    
                    {{#each products}}                                  
                        <div class="product-item">                    
                            {{#if this.isBestSeller}}
                            <div class="bestseller-flag">
                                Best Seller                                    
                            </div>
                            {{else}}
                                <div class="no-promo-flag"></div>
                            {{/if}}                                 
                            <p class="product-title">
                                {{this.name}}
                            </p>           
                            <div class="products-image-container">
                                 <img  src="{{this.image_url}}" />
                            </div>             
                            <p class="description">
                                {{this.description}}
                            </p>
                            <p style="padding-left: 10px;color:brown;">
                                Price: CDN ${{this.price}}
                            </p>                                
                        </div>                                    
                    {{/each}}                    
                </div>            
            </div>
        </div>
</div>
