<div class="container products" >
    <h2 class="title">Product List</h2> 
        <div class="fixed-grid">
            <div class="fixed-inner">  
                <div class="category-select">
                    <select>
                        <option>Accessory</option>
                        <option>Gifts</option>
                        <option>Home Office</option>
                        <option>Snack</option>
                    </select>
                </div>
                <div class="category-bar">
                    <div class="inner-bar"></div>
                    <ul class="category-nav">
                        <li class="category-nav-item">Accessory</li>
                        <li class="category-nav-item">Gifts</li>
                        <li class="category-nav-item">Home Office</li>
                        <li class="category-nav-item">Snack</li>                    
                    </ul>
                </div>              
                <div class="products-container">
                    
                    {{#each products}}            
                        
                            <div class="product-item">                    
                                {{#if this.isBestSeller}}
                                <div class="bestseller-flag">
                                    Best Seller                                    
                                </div>
                                {{else}}
                                    <div class="no-promo-flag"></div>
                                {{/if}}  
                                
                                <p class="product-title">
                                    {{this.name}}
                                </p>           
                                <div class="products-image-container">
                                    <img  src="{{this.image_url}}" />
                                </div>             
                                <p class="description">
                                    {{this.description}}
                                </p>
                                <p style="padding-left: 10px;color:brown;">
                                    Price: CDN {{this.price}}
                                </p>
                                
                            </div>
                                    
                    {{/each}}
                    
                </div>              
        </div>
        </div>
</div>
