<div class="container signup-form" >
    <h2 class="title">Create account</h2> 

     {{!-- <div>{{successMessage}}</div> --}}
    <form method="POST" action ="/user/signup" enctype="multipart/form-data">     
        <div class="signup-container">        
            <div class="form-group"> 
                {{#each signupForm as |formData|}}                    
                    <div class="form-group-field">
                        <label for="{{formData.label}}">{{formData.labelText}}</label>
                        <input type="text" id="{{formData.label}}" name="{{formData.label}}" placeholder="{{formData.placeHolder}}" value="{{formData.value}}">                                               
                        {{#if formData.errorMessage}}
                            <div class='validation error-message margin-10-top'>{{errorMessage}}</div>
                        {{/if}}                                                                     
                    </div>      
                {{/each}}  
            <input type="submit" value="Create your Amazon account">        
            </div>    
        </div>          
    </form> 
</div>