{{#if message}}
<div class="container">
    <div class="alert success-message">
        {{message}}
    </div>
</div>
{{/if}}
<div class="container product-description-wrap">
    <div class="product-description_purchase">
        <div class="product-description_image">
            <img src="{{product.image_url}}" />
        </div>
        <div class="product-description-form add-to-cart">
            <div>{{product.name}}</div>
            <div>price: {{product.price}}</div>
           
        </div>
    </div>
    <div class="product-description_spec">
        {{product.description}}
    </div>
    
   
</div>