<div class="container">
    <div>Hello {{userInfo.name}},</div>    
    
     <form method="POST" action="/shoppingcart/update">
        {{#each products}}           
            <div>
                product name :{{this.name}}, </br>
                product price: ${{this.price}} ,               
            </div>   
            <input type="hidden" name="product_id" id="product_id" value="{{this.id}}" />
            <label for="purchased_quantity">Quantity</label>
            <input type="text" name="purchased_quantity" id="purchased_quantity" value="{{this.purchased_quantity}}" />  </br>       
        {{/each}}
        <br/>
        <br/>
        <dv>
            <input type="submit" value="Update Shopping Cart" /> 
            <div class="check-out">
                <a href="/shoppingcart/checkout" type="button">Check out now</a>
            </div>
            <div class="check-out">
                <a type="button" class="" href="/products">Continue shopping</a>
            </div>
        </dv>
      </form>
      <br/>
      <br/>
    <div class="total" >Total value in Cart:   CAD${{cartInfo.subTotal}}</div>
</div>